@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --bg-color: #ffc43d;
  --text-color: #3e363f;
}
* {
  font-family: 'Architects Daughter', cursive, sans-serif;
  box-sizing: border-box;
}
.logo {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}
nav {
  background-color: var(--bg-color);
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 2rem;
  margin-top: -3rem;
}
li > a {
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--text-color);
}

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.container {
  width: 100%;
  padding-right: 10.5em;
  padding-left: 10.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

.footer-right {
  float: right;
}

/* Color Gradients for daily Weather Cards */
.sunny {
  background: linear-gradient(to bottom right, #e1f5c4, #ede574);
}
.days-of-week {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.day {
  border: 0.4rem solid black;
}
.img {
  width: 13rem;
  height: auto;
}

.temps,
.weekday {
  text-align: center;
}
.weekday {
  color: green;
}
.temps {
  font-size: 2.5rem;
  font-weight: 1000;
}
.high-temp {
  color: red;
}
.low-temp {
  color: blue;
}

.rainy {
  background: linear-gradient(to bottom right, #bdc3c7, #77b1d8, #7ea3c7);
}

.snowy {
  background: linear-gradient(to bottom right, #e2ebf0, #cfd9df);
}

.cloudy {
  background: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
}

.windy {
  background: linear-gradient(to top left, #fc466b, #3f5efb);
}

/* .test {
  display: flex;
  justify-content: space-between;
  float: left;
  height: 250px;
  width: 250px;
  margin: 20px;
} GRADIENTS TEST CSS*/
