@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #ffc43d;
  --text-color: #3e363f;
}

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
