/* comment sections of CSS, group together */

/* @import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

:root {
  /* --bg-color: #ffc43d;
  --text-color: #3e363f; */
  --bg-color: #3a405a;
  --border-color: #f9dec9;
  --text-color: #99b2dd;
}
* {
  font-family: "Arvo", cursive, sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #99b2dd;
}
.logo {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}
nav {
  background-color: var(--bg-color);
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-left: 2rem;
  margin-top: -3rem;
}
li > a {
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--text-color);
}

.location {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.container {
  width: 100%;
  padding-right: 10.5em;
  padding-left: 10.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

.footer-right {
  float: right;
}

/* Color Gradients for daily Weather Cards */
.days-of-week {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.day {
  border: 0.4rem solid var(--border-color);
}
.img {
  width: 13rem;
  height: 13rem;
}

.temps,
.weekday {
  text-align: center;
}
.weekday {
  color: var(--bg-color);
}
.temps {
  font-size: 2.5rem;
  font-weight: 1000;
}
.high-temp {
  color: red;
}
.low-temp {
  color: blue;
}

.rainy {
  background: linear-gradient(to bottom right, #bdc3c7, #77b1d8, #7ea3c7);
}

.snowy {
  background: linear-gradient(to bottom right, #e2ebf0, #cfd9df);
}

.cloudy {
  background: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
}

.windy {
  background: linear-gradient(to top left, #fc466b, #3f5efb);
}
.sunny {
  background: linear-gradient(to bottom right, #e1f5c4, #ede574);
}

.hidden {
  display: none;
}

.sandwich {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  top: 8px;
  right: 1rem;
  width: 35px;
  height: 20px;
}

.line {
  height: 3px;
  width: 100%;
  background-color: red;
}

@media (max-width: 600px) {
  .days-of-week {
    flex-direction: column;
    padding: 1rem;
  }

  .days-of-week img {
    margin: 0 auto;
    width: 50%;
    display: block;
  }

  .sandwich {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    /* display: none; */
  }

  .navbar li {
    margin-left: 0;
    margin-top: 0rem;
    width: 100%;
    text-align: center;
  }

  .navbar li:hover {
    background-color: rgb(227, 188, 63);
  }

  .footer {
    position: relative;
  }

  .footer .container {
    width: 100%;
    font-size: 1rem;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
}

@media (min-width: 601px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
  }
}

/* 3A405A */
/* F9DEC9 */
/* 99B2DD */
